1. As a user, I want to log in by entering my username and password so that I can access my account.
2. As a user, I want to see an error if I submit the login form with empty fields.
3. As a user, I want to click the "Help" button to get assistance if I have trouble logging in.